header{
    background: red;
    height:100px;
    width:100%;
}

#logo{
height:65px;
}

#Juego
{
color: black;
}

.DivisionPag {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: minmax(100px, auto);
}
.PrimerCuadro{
    text-align:center;
    grid-column: 1;
    grid-row: 1;
}
.SegundoCuadro{
    text-align:center;
    grid-column: 1;
    grid-row: 2;
}

#generar{
    background:#ffffff;
    text-align:center;
    border:none;
    cursor:pointer;
    height:75px;
}

#Frase{
    font-weight:bold;
    font-style:italic;
    font-size: 35px;
}
#Pelicula{
font-weight:bold;
    font-style:italic;
    font-size: 20px;
    text-align:right;
    margin-right:50px;
}

#Autor{
font-weight:bold;
    font-style:italic;
    font-size: 20px;
    text-align:right;
    margin-right:50px;
}

#caja{
    background: #000;
    color:white;
    border-radius: 15px;
    margin-left:15%;
    margin-right:15%;
    text-align:center;
}


/*encabezado*/

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
    background: red;
    position: fixed;
    width: 100%;
    line-height: 60px;
}
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}


.navbar {
  margin-bottom: 20px;
}



/* barra de redes sociales*/

ul.socialIcons {
  padding: 0;
  text-align: center;
}

.socialIcons li {
  background-color: yellow;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;
}

.socialIcons li a {
  display: block;
  padding: 0.5em;
  min-width: 1.18em;
  max-width: 1.18em;
  height: 1.18em;
  white-space: nowrap;
  line-height: 1.5em; /*it's working only when you write text with icon*/
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}

.socialIcons li i {
  margin-right: 0.5em;
}

.socialIcons li:hover a {
  max-width: 200px;
  padding-right: 1em;
  text-align:center;
}

.socialIcons .facebook {
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}

.socialIcons .twitter {
  background-color: #00aced;
  box-shadow: 0 0 16px #00aced;
}

.socialIcons .instagram {
  background-color: #cd486b;
  box-shadow: 0 0 16px #cd486b;
}

.socialIcons .pinterest {
  background-color: #c92228;
  box-shadow: 0 0 16px #c92228;
}

#Encuentranos{
text-align:center;}